/* 共通要素 */
.topAbout {
    width: 100%;
    margin: auto;
    /* background-color: #9E9E9E; */
}

.wrapper {
    width: min(1020px, 90%);
    margin: 0 auto;
    padding: clamp(3rem, 20Vmin, 50rem) clamp(1rem, 5Vmin, 10rem);
}

/* イントロダクション */
.introduction {
    max-width: 35.5em;
    /* margin: 0 auto;  */
    margin: clamp(3rem, 20Vmin, 50rem) auto;
    line-height: 1.8;
    font-weight: normal;
    font-size: 120%;
}
.intro_title {
    margin-bottom: 2rem;
    font-weight: normal;
    font-size: 150%;
}

/* メイン */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #ccc;
    padding: 10Vmin;
}

/* title */
.title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text */
.text {
    width: 50%;
    margin: 0 auto;
    font-size: clamp(0.875rem, 1.5vw, 1rem)
}

.name {
    margin-bottom: 1.2rem;
    font-size: clamp(0.5rem, 120%, 1.25rem);
    font-weight: normal;
}

.name_en {
    display: block;
    font-size: clamp(0.3rem, 100%, 1rem);
}

.name_ja {
    display: block;
}

.summary {
    text-align: justify;
}

.list_title {
    margin-top: 1rem;
    font-weight: normal;
}

.list_title::before,
.list_title::after {
    content: "～";
}

.ul_layout {
    padding-left: 1rem;
}

.ul_list_layout {
    font-size: 65%;
}

/* リンク */
.btn_layout {
    margin-top: clamp(0.6rem, 4Vmin, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding-right: 1em;
    position: relative;
    transform: translateX(50%);
}
.btn::before {
    content: '';
    display: block;
    width: 1px;
    height: 1.6em;
    background-color: #000;

    position: absolute;
    bottom: -1px;
    left: 100%;
    transform: rotate(-30deg);
}

.btn::after {
    content: '';
    display: block;
    width: 7em;
    height: 1px;
    background-color: #000;

    position: absolute;
    top: 100%;
    left: 0;
}


/*-------------
    モバイル 
---------------*/
@media (max-width: 1000px) {
    /* イントロダクション */
.introduction {
    font-size: 100%;
}
}

@media (max-width: 780px) {
    .intro_title {
        /* margin-bottom: 2rem; */
        /* font-weight: normal; */
        font-size: 120%;
    }

    .br {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    /* text */
    .text {
        /* width: min(400px, 100%); */
        width: 100%;
        margin-top: 10vh;
        /* text-align: center; */
        /* font-size: clamp(0.875rem, 1.5vw, 1.25rem) */
    }

    .summary {
        /* text-align: center; */
        text-wrap: balance;
    }

    .list_title {
        margin-top: 2em;
        margin-bottom: 0.25em;
    }

    .btn {
        transform: translateX(0);
    }
}

@media screen and (max-width:520px) {
    .intro_title {
        /* margin-bottom: 2rem; */
        font-weight: bold;
        font-size: 80%;
    }
    
    .ul_list_layout {
        display: block;
        margin-bottom: 1em;
    }
}