.about {
    background-color: #F5F5F5;
}

/* philosophy */
.philosophy {
    width: min(1020px, 90%);;
    margin:0 auto;
    padding: clamp(0.6rem, 20Vmin, 10rem) clamp(0.3rem, 10Vmin, 5rem);
    background-color: #9E9E9E;
    font-weight: bold;
    text-align: center;
}

.intro {
    max-width: 39em;
    margin: clamp(0.6rem, 6Vmin, 8rem) auto clamp(0.6rem, 10Vmin, 16rem);
    color: #fff;
    line-height: 2.6;
    /* text-align: justify; */
}

.content_title {
    margin-bottom: clamp(0.6rem, 4Vmin, 10rem);
    font-size: 180%;
    /* font-weight: bold; */
    text-wrap: balance;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.layout::before {
    content: '';
    display: block;
    width: 1rem;
    height: 5rem;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}
.layout::after {
    content: '';
    display: block;
    width: 1rem;
    height: 5rem;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.item {
    width: 40%;
}

.item_title {
    padding-bottom: clamp(0.3rem, 2Vmin, 5rem);
    /* font-weight: bold; */
    font-size: 120%;
}

.item_text {
    text-align: justify;
}




/* 共通要素 */
.topAbout {
    width: 100%;
    margin: auto;
    background-color: #9E9E9E;
}

.wrapper {
    width: min(1020px, 90%);
    margin: 0 auto;
    padding: clamp(3rem, 20Vmin, 50rem) clamp(1rem, 5Vmin, 10rem);
    /* padding: clamp(3rem, 5vw, 10rem); */
    /* レイアウトの調整 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* title */
.title {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text */
.text {
    width: 50%;
    margin: 0 auto;
    font-size: clamp(0.875rem, 1.5vw, 1rem)
}

.name {
    margin-bottom: 1.5rem;
    font-size: clamp(0.5rem, 150%, 2rem);
    font-weight: normal;
}

.name_en {
    display: block;
    font-size: clamp(0.3rem, 120%, 1rem);
}

.name_ja {
    display: block;
}

.summary {
    text-align: justify;
}

.list_title {
    margin-top: 1rem;
    font-weight: normal;
}

.list_title::before,
.list_title::after {
    content: "～";
}

.dl_layout {
    display: flex;
    width: 100%;
    padding-left: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list_item_title {
    width: 3.5em;
    white-space: nowrap;
}

.list_item {
    width: calc(100% - 3.5em);
    padding-left: 1rem;
}


.ul_layout {
    padding-left: 1rem;
}



/*-------------
    モバイル 
---------------*/
@media (max-width: 1000px) {
    .ul_list_layout {
        font-size: 65%;
    }
}

@media (max-width: 800px) {
    /* 共通要素 */
    .wrapper {
        flex-direction: column;
    }

    /* text */
    .text {
        width: min(400px, 100%);
        margin-top: 10vh;
        /* text-align: center; */
        /* font-size: clamp(0.875rem, 1.5vw, 1.25rem) */
    }

    .summary {
        /* text-align: center; */
        text-wrap: balance;
    }

    .list_title {
        margin-top: 2em;
        margin-bottom: 0.25em;
    }

    .dl_layout {
        padding-left: 0; /* 初期化 */
        flex-direction: column;
    }

    .list_item {
        margin-bottom: 1em;
        padding-left: 0; /* 初期化 */
    }
}

@media screen and (max-width:450px) {
    .ul_list_layout {
        display: block;
        margin-bottom: 1em;
    }
}