.logo {
    width: min(30vw, 180px);
    height: auto;
}

/*-------------
    モバイル 
---------------*/
@media (max-width: 768px) {
    .logo {
        width: min(20vw, 180px);
        flex-grow: 1;
    }
}