.topWorks {
    width: min(1020px, 90%);
    margin: 10vh auto;
    /* padding-bottom: 20vh; */
    /* background-color: aliceblue; */
    /* text-align: left; */
}

.mainvisual {
    height: 80Vmin;
    margin-bottom: 10vh;
    position: relative;/* btn wrapper用 */
}

.titleWrapper {
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(5, 5, 5, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* リンク */
.btn {
    position: absolute;
    top: 60Vmin;
    left: 50%;
    transform: translateX(-50%);
}

.btnLayout {
    display: flex;
    width: 8em;/*レスポンシブ*/
    margin: clamp(0.6rem, 4Vmin, 10rem) auto 0;
    padding: clamp(0.1rem, 0.3Vmin, 1rem) 0.2rem;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    justify-content: center;
    align-items: center;
    transform: skew(30deg);
    color: #fff;
    /* position: relative;before用 */

}

.btnLayout::before {
    content: '';
    display: block;
    width: 95%;
    border-bottom: 1.2px solid #fff;
    border-right: 1.2px solid #fff;
    position: absolute;
    top: 90%;
    transition: 0.2s;
}

.btnText {
    transform: skew(-30deg);
}

.btnLayout:hover::before {
    content: '';
    display: block;
    width: 95%;
    border-bottom: 1.2px solid #fff;
    border-right: 1.2px solid #fff;
    position: absolute;
    top: 100%;
}

@media screen and (max-width:520px) {
    .btnLayout {
        font-size: 70%;
        font-weight: bold;
        width: 8em;/*レスポンシブ*/
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
}