.topWorks {
    padding-top: 10vh;
    padding-bottom: 20vh;
    /* background-color: aliceblue; */
    text-align: center;
}

.item {
    max-width: 70%;
    margin: clamp(0.6rem, 20Vmin, 10rem) auto;
    /* padding-bottom: 1rem; */
    padding: 1rem clamp(0.6rem, 3Vmin, 10rem);
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

/* .item:first-of-type {
    justify-content: space-between;
} */

.text {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.text_content {
    margin-top: 2rem;
}

/* リンク */
.btn_layout {
    margin-top: clamp(0.6rem, 4Vmin, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding-right: 0.8em;
    position: relative;
}

.btn::before {
    content: '';
    display: block;
    width: 1px;
    height: 1.6em;
    background-color: #000;

    position: absolute;
    bottom: -1px;
    left: 100%;
    transform: rotate(-30deg);
}

.btn::after {
    content: '';
    display: block;
    width: 7em;
    height: 1px;
    background-color: #000;

    position: absolute;
    top: 100%;
    left: 0;
}

@media screen and (max-width:900px){
    .item {
        max-width: 70%;
    }
}

@media screen and (max-width:700px) {
    .item {
        width: 100%;
        flex-direction: column;
    }
    
    .item:last-child {
        flex-direction: column-reverse;
    }
    
    .text {
        width: 100%;;
    }
}