.topWorks {
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: aliceblue;

    text-align: center;/* タイトル */
}

.layout_grid {
    width: 100Vmin;
    height: 100Vmin;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1Vmin;
    align-items: center;
}

.works_item {
    max-width: 100%;
    height: 100%;
    position: relative; /* image用 */
}

.works_img {
    max-width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1025px) {
    .layout_grid {
        width: 70Vmin;
        height: 70Vmin;
        margin: 5vh auto;
    
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        /* grid-gap: 5% 10%; */
    }
}

@media screen and (max-width: 600px) {
    .layout_grid {
        width: 70Vmin;
        height: calc(70Vmin * 1.5);
        margin: 3vh auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}