/* 共通要素 */
.wrapper {
    width: min(1020px, 90%);
    margin: 0 auto;
}

.link {
    display: inline-block;
    
}

.link:hover {
    color: #666;
    opacity: 0.5;
}

/* メインビジュアルのレイアウト */
.mainvisual_wrap {
    height: 70Vmin;
    position: relative;/* scrolldown用 */
} 

/* 画像 */
.img_box { 
    width: 100%;/* 9/13更新(画像のサイズ修正）*/
    height: auto;
    position: relative;/* 画像が浮くのを防ぐ */
    /* 9/13更新 中央寄せ */
    display: flex;
    justify-content: center;
}    

.img {
    /* 画像サイズはjsで直接指定、 レスポンシブで随時調整する*/
    max-width: 100%;
    height: auto;
    object-fit: cover;/* 600pxまではcoverで */
    opacity: 0.8;/*主張強かったから薄める*/
    
}

/* タイトル */
.title {
    /* 9/13更新、画像を背景化 */
    width: 60%;
    position: absolute;
    top: 30%;/* レスポンシブ */
    left: 5%;
}

.icon_box {
    display: inline-block;
    line-height: 0;
}

.icon {
    margin: 10px;
    animation: icon-up 2s forwards;
    animation-delay: 1.8s;
    opacity: 0;
}
@keyframes icon-up {
    0% {
        opacity: 0;
        /* transform: translateY(30px); */
    }
    50% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* スクロールアニメーション */
.scrolldown {
    position: absolute;
    bottom: 7Vmin;/* レスポンシブ調整する */
    left: 50%;
    /* margin: 0; */
    /* width: 2px; */
    /* height: 10vh; */
    /* background-color: #000; */
    /* position: relative; */
    /* opacity: 0; */
    /* animation: scrolldown-bar 3.5s ease-in-out infinite; */
    /* animation-delay: 1s; */

    /* position: absolute; */
    /* top: 70%; */
    /* left: 35%;  */
}
.scroll {
    /* 文字の位置 */
    position: absolute;
    right: 5px;/* 文字と合わせてレスポンシブ調整 */
    bottom: 3px;
    transform: rotate(90deg);
    /* font-size: ;レスポンシブ調整 */

    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* transform: translate(-50%,-50%); */
    /* opacity: 0; */
    /* animation: scrolldown-ball 3.5s ease-in-out infinite; */
    /* animation-delay: 1s; */
}
.scrolldown::before,
.scrolldown::after {
    /* 線 */
    content: "";
    display: block;
    width: 1px;
    height: 10Vmin;/* レスポンシブ後で調整する */
    background-color: #666;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0.1em; */
    /* transform: rotate(90deg) translate(-60%); */
    /* z-index: 1; */
    /* opacity: 0; */
    /* animation: scrolldown-ball 3.5s ease-in-out infinite; */
    /* animation-delay: 1s; */
}
.scrolldown::after {
    /* 矢羽根 */
    height: 3Vmin;/*レスポンシブ時は比率で調整する必要あり*/
    transform: translate(1.2Vmin, -3Vmin) skewX(-40deg);
}

@keyframes scrolldown-bar {
    0% {
        opacity: 0.7;
        width: 2px;
        height: 0;
    }
    60% {
        opacity: 1;
        width: 2px;
        height: 10vh;
    }
    80% {
        opacity: 1;
        width: 2px;
        height: 10vh;
    }
    100% {
        opacity: 0;
    }
}
@keyframes scrolldown-ball {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 1;
    }
}


/*-------------
    モバイル 
---------------*/
@media (max-width: 700px) {
    
}

@media screen and (max-width:600px) {
    .title {
        top: 15%;
    }
    .icon {
        width: 40%;
        height: auto;
        margin: 5px;
    }
}

@media screen and (max-width:300px) {
    .mainvisual_flex {
        height: 60vh;
        flex-direction: column;
    }
}