/* 共通要素 */
.wrapper {
    width: min(1020px, 90%);
    margin: 0 auto;
    padding-top: min(1rem, 1%);
}

.link {
    display: inline-block;
}

.link:hover {
    color: #666;
    opacity: 0.5;
}


/* ヘッダー */
.header {
    max-width: 100%;
    /* height: 5vh; */

    display: flex;
    align-items: center;
}

.nav {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.nav_flex {
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0.5rem 0;
    padding: clamp(0.5rem, 1vw, 1rem);
    font-size: clamp(0.75rem, 5vw, 2rem);
}



/* メインビジュアルのレイアウト */
.mainvisual_flex {
    height: 90vh;

    display: flex;
    flex-direction: row-reverse;

    position: relative;/* scrolldown用 */
} 

/* 画像 */
.img_box {
    flex: 1;
    padding-top: 5vh;

    position: relative;/* 画像が浮くのを防ぐ */
}

.img {
    max-width: 100%;
    object-fit: contain;
}

/* タイトル */
.title {
    flex: 1;
    padding-top: min(25vh, 20vw);
    background-color: transparent;
}

.icon {
    margin: 10px;
    animation: icon-up 2s forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
@keyframes icon-up {
    0% {
        opacity: 0;
        /* transform: translateY(30px); */
    }
    50% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* スクロールアニメーション */
.scrolldown {
    margin: 0;
    width: 2px;
    height: 10vh;
    background-color: #000;
    position: relative;
    opacity: 0;
    animation: scrolldown-bar 3.5s ease-in-out infinite;
    animation-delay: 1s;

    position: absolute;
    top: 70%;
    left: 35%; 
}
.scroll_ball {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #000;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: scrolldown-ball 3.5s ease-in-out infinite;
    animation-delay: 1s;
}
.scrolldown::before {
    content: "scroll→";

    position: absolute;
    top: 0;
    left: 0.1em;
    transform: rotate(90deg) translate(-60%);
    z-index: 1;
    opacity: 0;
    animation: scrolldown-ball 3.5s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes scrolldown-bar {
    0% {
        opacity: 0.7;
        width: 2px;
        height: 0;
    }
    60% {
        opacity: 1;
        width: 2px;
        height: 10vh;
    }
    80% {
        opacity: 1;
        width: 2px;
        height: 10vh;
    }
    100% {
        opacity: 0;
    }
}
@keyframes scrolldown-ball {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 1;
    }
}


/*-------------
    モバイル 
---------------*/
@media (max-width: 700px) {
    .scrolldown {
        top: 65%;
        left: 35%;
    }
}

@media screen and (max-width:600px) {
    .header {
        height: 5vh;
        margin-top: 1vh;
    }
    
    .logo {
        width: 30%;
        height: auto;
        flex-shrink: 1;
    }
}

@media (max-height: 500px) {
    .scrolldown {
        top: 50%;
        left: 85%;
    }
}

@media screen and (max-width:300px) {
    .scrolldown {
        top: 80%;
        left: 50%;
    }
    
    .mainvisual_flex {
        height: 60vh;
        flex-direction: column;
    } 

    .title {
        flex: 0.8;
        padding-top: min(25vh, 20vw);
        background-color: transparent;
    }
}