.header {
    
}

.nav {
    width: clamp(8rem, 48vw, 16rem);
    margin-left: min(30vw, 180px);/* ロゴ分の幅 */
    text-align: center;
    background-color: #ccc;
}

.flex {
    display: flex;
    flex-direction: column;
}

.item {
    margin: 0.5rem 0;
    padding: 1vh;
    font-size: clamp(1rem, 6vw, 2rem);
}
.link:hover {
    color: beige;
}