.scroll_wrapper {
    width: 100%;
    height: 100vh;
    position: relative; /* scrll用 */
    background-color: #b7b7b7;
} 

.scroll {
    max-width: 100%;
    display: flex;
    overflow: hidden;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
}

.left_fir {
    margin-bottom: 50vh;
    animation: left-fir 60s -30s infinite linear both;
}

.left_sec {
    margin-bottom: 50vh;
    animation: left-sec 60s infinite linear both;
}
.right_fir {
    margin-top: 50vh;
    animation: right-fir 60s -30s infinite linear both;
}
.right_sec {
    margin-top: 50vh;
    animation: right-sec 60s infinite linear both;
}

/* hoverバージョン
.scroll_wrapper:hover .left_fir,
.scroll_wrapper:hover .left_sec,
.scroll_wrapper:hover .right_fir,
.scroll_wrapper:hover .right_sec{
    animation-play-state: paused;
} */

.scroll_wrapper:active .left_fir,
.scroll_wrapper:active .left_sec,
.scroll_wrapper:active .right_fir,
.scroll_wrapper:active .right_sec {
    animation-play-state: paused;
}

.item {
    max-width: 100%;
    width: 100vw;
    padding: 0;
    height: calc(100vw / 2 * 0.75);
    position: relative;/*Imageコンポーネント用*/
}
.img {
    width: 100%;
    object-fit: contain;
}


@keyframes left-fir {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes left-sec {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}
@keyframes right-fir {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes right-sec {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}