.fixed {
    width: 100%;
    height: 100vh;
    /* position: fixed; 浮かせる
    top: 0;
    left: 0;*/
} 

.flow {
    width: 100vw;
    /* position: absolute; 浮かせる用*/
    /* top: 100vh; 浮かせる用*/
    /* 操作性の設定 */
}

.works {
    width: min(1020px, 90%);
    margin: 0 auto;
}